$primary: #716dd4;
$primary-light: #c4c3fc;
$primary-light-bg: rgba(196, 195, 252, 0.1);
$secondary: #2ae4ac;
$body: #17193f;
$light-grey: #cfcfcf;
$dark-grey: #707070;
$success: #2ae4ac;
$error: #ff6969;
$warning: #ffaf69;
$dark-gradient: transparent linear-gradient(180deg, $primary 0%, #c9a5f2 100%) 0% 0% no-repeat padding-box;
$light-gradient: transparent linear-gradient(180deg, #8ec5fc 0%, #e0c3fc 100%) 0% 0% no-repeat padding-box;
