.date-box{
    width: 260px;
    display: flex;
    border: 1px solid #0000001F;
    border-radius: 4px;
    opacity: 1;
    padding: 2px;
    justify-content: start;
    padding-left: 15px ;
    margin-left: 3px;
}