.form-collection {
    .MuiFormControl-root {
      margin-top: 0;
      margin-bottom: 35px;
      input {
        padding: 8px;
        max-width: 90px;
      }
      .MuiInputLabel-root {
        top: -7px;
        &.MuiFormLabel-filled,
        &.Mui-focused {
          top: 0;
        }
      }
    }
  }